@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    padding-bottom: 20%;
}
span{
    font-size: 15px
}

.img-container img{
    justify-content: center;
    width: 700px;
    height: 250px;
    object-fit: cover;
    display: block;
}
.hover-container img{
    width: 80px;
    height: 40px;
    object-fit: cover;
    display: block;
}
.main-wrapper{
    min-height: 100vh;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    padding: 0 1rem;
    margin: 0 auto;
}
.product-div{
    margin: 1rem 0;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    border-radius: 3px;
    column-gap: 10px;
}
.product-div-left{
    padding: 20px;
}
.product-div-right{
    max-width: 700px;
    padding: 20px;
}
.img-container img{
    width: 450px;
    height: 350px;
    margin: 0 auto;
}
.hover-container{
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}
.hover-container div{
    border: 2px solid rgba(49, 50, 50, 0.7);
    padding: 1rem;
    border-radius: 3px;
    margin: 0 4px 8px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fitment{
    max-width: 400px;
}
.measure-input{
    margin-top:10px;
    width: 263px;
    max-width: 263px;
    margin-right: 8px;
    display: inline-block;
    border-radius: 3px;
    font-size: 16px;
    font-family: inherit;
    text-transform: uppercase;
    padding: 15px 16px;
    color: #000 ;
    cursor: pointer;
    transition: all 0.3s ease;
}
.drop-down-btn{
    margin-right: 7px;
    text-align: center;
    width: 328px;
    border: 2px solid rgba(49, 50, 50, 0.7) ;
    background-color: rgba(49, 50, 50, 0.7);
    padding: 1rem;
    border-radius: 3px;
    margin-top:10px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: inherit;
    text-transform: uppercase;
    padding: 15px 16px;
    color: #fff;
    cursor: pointer;
}
.drop-down-btn:hover{
    border: 2px solid rgba(49, 50, 50, 0.7);
    background-color: transparent;
    transition: all 0.3s ease;
    color: rgba(49, 50, 50, 0.7);
}
.size-down{
    max-width:328px;
    align-items:flex-end;
    justify-content: center;
}
.active{
    border-color: rgb(49, 50, 50)!important;
}
.hover-container div:hover{
    border-color: rgb(49, 50, 50);
}
.hover-container div img{
    width: 50px;
    cursor: pointer;
}
.product-div-right span{
    display: block;
}
.product-name{
    font-size: 26px;
    margin-bottom: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
}
.product-price{
    font-weight: 700;
    font-size: 24px;
    opacity: 0.9;
    font-weight: 500;
}
.product-rating{
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.product-rating span{
    margin-right: 6px;
}
.product-description{
    font-weight: 18px;
    line-height: 1.6;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 22px;
}
.btn-groups{
    margin-top: 22px;
}
.btn-groups button{
    display: inline-block;
    border-radius: 3px;
    font-size: 16px;
    font-family: inherit;
    text-transform: uppercase;
    padding: 15px 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-groups button .fas{
    margin-right: 8px;
}
.add-cart-btn{
    background-color: rgb(0,70,111);
    border: 2px solid rgb(0,70,111);
    margin-right: 8px;
}
.add-cart-btn:hover{
    background-color: #fff;
    color: rgb(0,70,111);
}
.buy-now-btn{
    margin-right: 8px;
    background-color: rgb(49, 50, 50);
    border: 2px solid rgb(49, 50, 50);
}
.buy-now-btn:hover{
    background-color: #fff;
    color: #000;
}

/** Measurement unit slider **/
.toggle {
    display: inline-block;
    border-radius: 3px;
    font-size: 16px;
    margin-right:8px;
    text-transform: uppercase;
    --width: 53px;
    --height: 31px;
    position: relative;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  .toggle input {
    display:none;
  }

  .toggle .labels {
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 13px;
    font-family: inherit;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }

  .toggle .labels::after {
    content: attr(data-off);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    background-color: rgb(49, 50, 50);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
  }

  .toggle .labels::before {
    content: attr(data-on);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: calc(var(--width) * -1);
    height: 100%;
    width: 100%;
    color: #ffffff;
    background-color: rgb(0,70,111);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    transition: all 0.4s ease-in-out;
  }

  .toggle input:checked~.labels::after {
    transform: translateX(var(--width));
  }

  .toggle input:checked~.labels::before {
    transform: translateX(var(--width));
  }

  /** End measurement unit slider **/
  /** Quantity Counter **/
  .counter {
    border: 2px solid rgb(0,70,111);
    border-radius: 3px;
    width: 120px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.counter input {
    width: 50px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    background: rgb(0,70,111);
    color: #fff;
    appearance: none;
    outline: 0;
}
.counter span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    color: rgb(0,70,111);
    user-select: none;
}
/** End Quantity Counter **/

@media screen and (max-width: 992px){
    .fitment{
        margin-top: 10px;
        max-width: 605px;
    }
    .btn-groups{
        padding: 0 10px;
    }
    .btn-groups button {
        width: 100%;
        margin-top: 10px;
    }
    .drop-down-btn {
        max-width: none;
        width: 100%;
    }
    .measure-input{
        margin-top: 0;
        max-width: calc(100% - 80px);
        width: 100%;
    }
    .product-div{
        grid-template-columns: 100%;
    }
    .product-div-right{
        text-align: center;
    }
    .product-rating{
        justify-content: center;
    }
    .product-description{
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
    .size-down{
        width: 100%;
    }
}

@media screen and (max-width: 425px){
    .img-container img {
        max-width: 350px;
    }
    .btn-groups button {
        width: 100%;
    }
    .measure-input {
        max-width: calc(100% - 80px);
    }
    .drop-down-btn {
        max-width: none;
        width: 100%;
    }
}